name: Smoke Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  test-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: coverage/.node-version
          cache: npm
          cache-dependency-path: coverage/package-lock.json

      - name: Install Dependencies
        working-directory: ./coverage
        run: npm ci

      - name: Test
        working-directory: ./coverage
        run: npm run coverage

      - name: Upload coverage
        uses: ./coverage
        with:
          oidc: true
          files: coverage/coverage/clover.xml
          incomplete: true
          skip-errors: false

      - name: Complete coverage
        uses: ./coverage
        with:
          oidc: true
          command: complete
          skip-errors: false

      - name: Run fmt action
        uses: ./fmt
