name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  test-install:
    runs-on: ubuntu-latest

    steps:
      - name: Install Qlty CLI
        uses: qltysh/qlty-action/install@92420f3093ba65970fed22ce5f162ecb8a5c1700 # main

      - name: Check Qlty CLI version
        shell: bash
        run: qlty --version

  test-fmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: fmt/.node-version
          cache: npm
          cache-dependency-path: fmt/package-lock.json

      - name: Install Dependencies
        working-directory: ./fmt
        run: npm ci

      - name: Build dist/ Directory
        working-directory: ./fmt
        run: npm run package

      - name: Compare Directories
        working-directory: ./fmt
        run: |
          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff --ignore-space-at-eol --text dist/
            exit 1
          fi

      # - name: Test
      #   id: npm-ci-test
      #   working-directory: ./fmt
      #   run: npm run ci-test

  test-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: coverage/.node-version
          cache: npm
          cache-dependency-path: coverage/package-lock.json

      - name: Install Dependencies
        working-directory: ./coverage
        run: npm ci

      - name: Build dist/ Directory
        working-directory: ./coverage
        run: npm run package

      - name: Compare Directories
        working-directory: ./coverage
        run: |
          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff --ignore-space-at-eol --text dist/
            exit 1
          fi

      - name: Test
        working-directory: ./coverage
        run: npm run coverage

      - name: Upload coverage
        uses: qltysh/qlty-action/coverage@92420f3093ba65970fed22ce5f162ecb8a5c1700 # main
        with:
          oidc: true
          files: coverage/coverage/clover.xml

      - name: Verify clean working directory
        run: |
          if [ "$(git status --porcelain)" ]; then
            echo "Working directory is not clean. Please commit or stash your changes."
            git status
            exit 1
          fi

  test-windows-coverage:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: coverage/.node-version
          cache: npm
          cache-dependency-path: coverage/package-lock.json

      - name: Install Dependencies
        working-directory: ./coverage
        run: npm ci

      - name: Test
        working-directory: ./coverage
        run: npm run coverage

      - name: Upload coverage
        uses: qltysh/qlty-action/coverage@fc2df17c09544ede081e67e34e2aea2f6c9a571b # bh-windows-install
        with:
          files: coverage/coverage/clover.xml
          verbose: true
          skip-errors: false
          oidc: true
